In [1]:
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../datasets/german_credit.csv')

In [3]:
data.shape

(1000, 21)

In [4]:
data.head()

,Creditability,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,...,Duration in Current address,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2

In [21]:
data["Creditability"]

0      1
1      1
2      1
3      1
4      1
      ..
995    0
996    0
997    0
998    0
999    0
Name: Creditability, Length: 1000, dtype: int64

In [22]:
X = data.loc[:, data.columns != 'Creditability']
y = data["Creditability"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [23]:
sc = StandardScaler()
sc.fit(X_train)

StandardScaler()

In [24]:
# Apply the scaler to the X training data
X_train_std = sc.transform(X_train)

# Apply the SAME scaler to the X test data
X_test_std = sc.transform(X_test)

In [25]:
data.shape

(1000, 21)

## selecting the number of neurons

Rule of thumb method is for determining the correct number of neurons to use in the
hidden layers, such as the following:
* The number of hidden neurons should be in the range between the size of the input layer and the size of the output layer
* The number of hidden neurons should be 2/3 of the input layer size, plus the size of the output layer
* The number of hidden neurons should be less than twice the input layer size

Source: https://www.ijcsmc.com/docs/papers/November2014/V3I11201499a19.pdf

In [26]:
mlp = MLPClassifier(hidden_layer_sizes=(22, 22, 22),max_iter=1000)

In [27]:
mlp.fit(X_train_std, y_train)

MLPClassifier(hidden_layer_sizes=(22, 22, 22), max_iter=1000)

In [28]:
pred = mlp.predict(X_test_std)

In [29]:
print('Accuracy: %.2f' % accuracy_score(y_test, pred))

Accuracy: 0.73