## FeatureSelectionUsingMissingValueRatio

We start off by handling missing data using various techniques. We then eliminate some features based on a threshold of missing data

### Import libraries

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

#### The Melbourne housing dataset
https://www.kaggle.com/anthonypino/melbourne-housing-market

In [2]:
melb_data = pd.read_csv('datasets/melb_data.csv')

In [3]:
melb_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
melb_data.shape

(13580, 21)

### Check empty cell of each column

In [5]:
empty_col_cells = melb_data.isnull().sum().sort_values(ascending=False)

empty_col_cells.head()

BuildingArea    6450
YearBuilt       5375
CouncilArea     1369
Car               62
Suburb             0
dtype: int64

## Missing value ratio
What is the ratio of missing values in each column?

In [6]:
(melb_data.isnull().sum() / melb_data.shape[0]).sort_values(ascending = False)

BuildingArea     0.474963
YearBuilt        0.395803
CouncilArea      0.100810
Car              0.004566
Suburb           0.000000
Bathroom         0.000000
Regionname       0.000000
Longtitude       0.000000
Lattitude        0.000000
Landsize         0.000000
Bedroom2         0.000000
Address          0.000000
Postcode         0.000000
Distance         0.000000
Date             0.000000
SellerG          0.000000
Method           0.000000
Price            0.000000
Type             0.000000
Rooms            0.000000
Propertycount    0.000000
dtype: float64

### Now, move on with empty columns

In [7]:
melb_data[['BuildingArea', 'YearBuilt', 'CouncilArea', 'Car']].head()

   BuildingArea  YearBuilt CouncilArea  Car
0           NaN        NaN       Yarra  1.0
1          79.0     1900.0       Yarra  0.0
2         150.0     1900.0       Yarra  0.0
3           NaN        NaN       Yarra  1.0
4         142.0     2014.0       Yarra  2.0

In [8]:
melb_data[['BuildingArea', 'YearBuilt', 'CouncilArea', 'Car']].isnull().sum()

BuildingArea    6450
YearBuilt       5375
CouncilArea     1369
Car               62
dtype: int64

## Imputation

### Fill by median value

In [9]:
melb_data[['BuildingArea', 'YearBuilt', 'CouncilArea', 'Car']].describe()

       BuildingArea    YearBuilt           Car
count   7130.000000  8205.000000  13518.000000
mean     151.967650  1964.684217      1.610075
std      541.014538    37.273762      0.962634
min        0.000000  1196.000000      0.000000
25%       93.000000  1940.000000      1.000000
50%      126.000000  1970.000000      2.000000
75%      174.000000  1999.000000      2.000000
max    44515.000000  2018.000000     10.000000

In [10]:
melb_data['Car'] = melb_data['Car'].fillna(melb_data['Car'].median())

melb_data[['BuildingArea', 'YearBuilt', 'CouncilArea', 'Car']].describe()

       BuildingArea    YearBuilt           Car
count   7130.000000  8205.000000  13580.000000
mean     151.967650  1964.684217      1.611856
std      541.014538    37.273762      0.960793
min        0.000000  1196.000000      0.000000
25%       93.000000  1940.000000      1.000000
50%      126.000000  1970.000000      2.000000
75%      174.000000  1999.000000      2.000000
max    44515.000000  2018.000000     10.000000

In [11]:
melb_data[['BuildingArea', 'YearBuilt', 'CouncilArea', 'Car']].isnull().sum()

BuildingArea    6450
YearBuilt       5375
CouncilArea     1369
Car                0
dtype: int64

In [12]:
melb_data[['BuildingArea', 'YearBuilt', 'CouncilArea', 'Car']].isnull().sum()

BuildingArea    6450
YearBuilt       5375
CouncilArea     1369
Car                0
dtype: int64

### Fill by any constant

In [13]:
melb_data[['BuildingArea', 'YearBuilt', 'CouncilArea', 'Car']].tail()

       BuildingArea  YearBuilt CouncilArea  Car
13575           NaN     1981.0         NaN  2.0
13576         133.0     1995.0         NaN  2.0
13577           NaN     1997.0         NaN  4.0
13578         157.0     1920.0         NaN  5.0
13579         112.0     1920.0         NaN  1.0

In [14]:
melb_data['CouncilArea'].mode()

0    Moreland
dtype: object

In [15]:
melb_data['CouncilArea'] = melb_data['CouncilArea']\
                            .fillna(melb_data['CouncilArea'].mode()[0])

In [16]:
melb_data[['BuildingArea', 'YearBuilt', 'CouncilArea', 'Car']].tail()

       BuildingArea  YearBuilt CouncilArea  Car
13575           NaN     1981.0    Moreland  2.0
13576         133.0     1995.0    Moreland  2.0
13577           NaN     1997.0    Moreland  4.0
13578         157.0     1920.0    Moreland  5.0
13579         112.0     1920.0    Moreland  1.0

In [17]:
melb_data[['BuildingArea', 'YearBuilt', 'CouncilArea', 'Car']].isnull().sum()

BuildingArea    6450
YearBuilt       5375
CouncilArea        0
Car                0
dtype: int64

### Use Thresh  
__(Drop which columns have more than 10% empty)__

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

In [18]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [19]:
melb_data.dropna(thresh=int(melb_data.shape[0] * .9), axis=1, inplace=True)

In [20]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount'],
      dtype='object')

In [21]:
melb_data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [22]:
melb_data.to_csv('datasets/melb_data_processed.csv', index=False)