## Dates and Times

A special type of categorical variable are those that instead of taking traditional labels, like color (blue, red), or city (London, Manchester), take dates and / or time as values. For example, date of birth ('29-08-1987', '12-01-2012'), or date of application ('2016-Dec', '2013-March').

Datetime variables can contain dates only, time only, or date and time.

We don't usually work with a datetime variable in their raw format because:

- Date variables contain a huge number of different categories
- We can extract much more information from datetime variables by preprocessing them correctly

## In this demo: Peer to peer lending (Finance)

In this demo, we will use data from the peer-o-peer finance company **Lending Club** to inspect nominal categorical variables

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [3]:
# Variable definitions:
#-------------------------
# loan_amnt: loan amount requested by borrower
# grade: risk markets in which borrowers are placed
# purpose: intended use of the loan
# issue_d: date the loan was issued
# last_pymnt_d: date of last payment towards repyaing the loan

use_cols = ['loan_amnt', 'grade', 'purpose', 'issue_d', 'last_pymnt_d']

data = pd.read_csv('datasets/loan_small.csv', usecols=use_cols)

data.head()

   loan_amnt grade   issue_d             purpose last_pymnt_d
0       2500     C  Dec-2018  debt_consolidation     Feb-2019
1      30000     D  Dec-2018  debt_consolidation     Feb-2019
2       5000     D  Dec-2018  debt_consolidation     Feb-2019
3       4000     D  Dec-2018  debt_consolidation     Feb-2019
4      30000     C  Dec-2018  debt_consolidation     Feb-2019

In [4]:
# pandas assigns type 'object' when reading dates
# and considers them strings.
# Let's have a look

data.dtypes

loan_amnt        int64
grade           object
issue_d         object
purpose         object
last_pymnt_d    object
dtype: object

Both issue_d and last_pymnt_d are casted as objects. Therefore, pandas will treat them as strings or categorical variables.

In order to instruct pandas to treat them as dates, we need to re-cast them into datetime format. See below.

In [5]:
# now let's parse the dates, currently coded as strings, into datetime format
# this will allow us to make some analysis afterwards

data['issue_dt'] = pd.to_datetime(data.issue_d)
data['last_pymnt_dt'] = pd.to_datetime(data.last_pymnt_d)

data[['issue_d', 'issue_dt', 'last_pymnt_d', 'last_pymnt_dt']].head()

    issue_d   issue_dt last_pymnt_d last_pymnt_dt
0  Dec-2018 2018-12-01     Feb-2019    2019-02-01
1  Dec-2018 2018-12-01     Feb-2019    2019-02-01
2  Dec-2018 2018-12-01     Feb-2019    2019-02-01
3  Dec-2018 2018-12-01     Feb-2019    2019-02-01
4  Dec-2018 2018-12-01     Feb-2019    2019-02-01